[submodule "Subrepo/Lucene.Net.Contrib"]
	path = Subrepo/Lucene.Net.Contrib
	url = https://github.com/NikolayXHD/Lucene.Net.Contrib.git
[submodule "out/data"]
	path = out/data
	url = https://github.com/NikolayXHD/Mtgdb.data.git
