*.user
*.suo
*.DotSettings.user
Bin/
obj/
TestResults
*.dbmdl
*.log
*.VisualState.xml
TestResult.xml
packages/
.vs
.idea
out/color-schemes/current.colors
out/update/app/
out/update/*.txt
out/update/*.zip
out/images/**/*.jpg
out/images/**/*.txt
out/images/**/*.bak
out/history/
out/save/
out/logs/
out/update/notifications/
out/data/index/
out/data/AllSets-x.json
out/data/price.id.json
out/data/price.json
out/data/translations.json