*.user
*.suo
*.DotSettings
Bin/
obj/
TestResults
*.dbmdl
*.log
*.VisualState.xml
TestResult.xml
packages/
.vs
output/data/index/
output/update/app/
output/update/*.txt
output/update/*.zip
output/images/**/*.jpg
output/images/**/*.txt
output/images/**/*.bak
output/history/
output/save/
output/logs/