*.user
*.suo
*.DotSettings.user
*.dbmdl
*.log
*.VisualState.xml
TestResults
TestResult.xml
.vs/
.idea/
.gd/
bin/
obj/
packages/
out/color-schemes/current.colors
out/update/app/
out/update/*.txt
out/update/*.zip
out/update/img/art/filelist.txt
out/update/img/**/*.7z
out/images/**/*.jpg
out/images/**/*.txt
out/images/**/*.bak
out/history/
out/save/
out/logs/
out/update/notifications/
out/data/index/
out/data/AllPrintings.json
out/data/AllPrices.json
out/data/translations.json
out/LICENSE
out/Mtgdb.Gui.lnk
venv/
