a.anchor {
	margin-left:-16pt;
	float: left;
	padding: 2pt;
}

a.anchor:focus {
	outline: none;
}

a.anchor svg {
	fill-opacity:0;
}

h1:hover a.anchor svg, h2:hover a.anchor svg, h3:hover a.anchor svg, h4:hover a.anchor svg, h5:hover a.anchor svg, h6:hover a.anchor svg {
	fill-opacity:1;
	-webkit-transition: fill-opacity 0.15s ease-out;
	-moz-transition: fill-opacity 0.15s ease-out;
	-o-transition: fill-opacity 0.15s ease-out;
	transition: fill-opacity 0.15s ease-out;
}