<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<configSections>
		<section name="ExtConfigure" type="NConfiguration.PlainXmlSection, NConfiguration"/>
	</configSections>
	
	<ExtConfigure>
		<IncludeFile Path="Etc\Mtgdb.Util.xml" Search="All" Include="All" Required="true"/>
		<IncludeFile Path="Etc\Mtgdb.Gui.Default.xml" Search="All" Include="All" Required="true"/>
		<IncludeFile Path="Etc\Mtgdb.Gui.xml" Search="All" Include="All" Required="true"/>
	</ExtConfigure>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	
</configuration>