<?xml version="1.0" encoding="utf-8"?>

<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets async="true">
		<target name="ConsoleBuffer" xsi:type="BufferingWrapper" bufferSize="10000" flushTimeout="1000" slidingTimeout="false" >
			<target name="Console" type="Console" layout="${message} ${exception:format=toString}" />
		</target>
	</targets>

	<rules>
		<logger name="*" writeTo="ConsoleBuffer" minlevel="Info" />
	</rules>
</nlog>
