<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="5.10.3" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="2020.1.0" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.16.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Ninject" version="3.3.4" targetFramework="net472" />
  <package id="NLog" version="4.7.0" targetFramework="net461" />
  <package id="NUnit" version="3.12.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Tesseract" version="3.3.0" targetFramework="net472" />
</packages>