<?xml version="1.0" encoding="utf-8"?>

<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true">

	<variable name="logDir" value="${basedir}\..\..\logs" />

	<targets async="true">
		<target name="InfoFileBuffer" xsi:type="BufferingWrapper" bufferSize="10000" flushTimeout="1000" slidingTimeout="False" >
			<target name="InfoFile" xsi:type="File" fileName="${logDir}\info.log" encoding="utf-8"
					archiveFileName="${logDir}\backup\info.{##}.log"
					archiveAboveSize="52428800"
					archiveNumbering="Sequence"
					archiveEvery="Day"
					maxArchiveFiles="30">
				<layout xsi:type="CsvLayout" delimiter="Tab">
					<column name="Time" layout="${longdate}" />
					<column name="Thread" layout="${threadid}" />
					<column name="Level" layout="${level}" />
					<column name="Logger" layout="${logger}" />
					<column name="Message" layout="${message}" />
					<column name="Exception" layout="${exception:format=ToString}" />
				</layout>
			</target>
		</target>

		<target name="DebugFileBuffer" xsi:type="BufferingWrapper" bufferSize="10000" flushTimeout="1000" slidingTimeout="False" >
			<target name="DebugFile" xsi:type="File" fileName="${logDir}\debug.log" encoding="utf-8"
					archiveFileName="${logDir}\backup\debug.{##}.log"
					archiveAboveSize="52428800"
					archiveNumbering="Sequence"
					archiveEvery="Hour"
					maxArchiveFiles="100">
				<layout xsi:type="CsvLayout" delimiter="Tab">
					<column name="Time" layout="${longdate}" />
					<column name="Thread" layout="${threadid}" />
					<column name="Level" layout="${level}" />
					<column name="Logger" layout="${logger}" />
					<column name="Message" layout="${message}" />
					<column name="Exception" layout="${exception:format=ToString}" />
				</layout>
			</target>
		</target>

		<target name="WarnFileBuffer" xsi:type="BufferingWrapper" bufferSize="10000" flushTimeout="1000" slidingTimeout="False" >
			<target name="WarnFile" type="File" fileName="${logDir}\warning.log" encoding="utf-8"
					archiveFileName="${logDir}\warn\warn.{##}.log"
					archiveAboveSize="52428800"
					archiveNumbering="Sequence">
				<layout xsi:type="CsvLayout" delimiter="Tab">
					<column name="Time" layout="${longdate}" />
					<column name="Thread" layout="${threadid}" />
					<column name="Level" layout="${level}" />
					<column name="Logger" layout="${logger}" />
					<column name="Message" layout="${message}" />
					<column name="Exception" layout="${exception:format=ToString}" />
				</layout>
			</target>
		</target>

		<target name="FatalFileBuffer" xsi:type="BufferingWrapper" bufferSize="10000" flushTimeout="1000" slidingTimeout="False" >
			<target name="FatalFile" type="File" fileName="${logDir}\fatal.log" encoding="utf-8">
				<layout xsi:type="CsvLayout" delimiter="Tab">
					<column name="Time" layout="${longdate}" />
					<column name="Thread" layout="${threadid}" />
					<column name="Level" layout="${level}" />
					<column name="Logger" layout="${logger}" />
					<column name="Message" layout="${message}" />
					<column name="Exception" layout="${exception:format=ToString}" />
				</layout>
			</target>
		</target>

		<target name="ExceptionsFile" type="File" fileName="${logDir}\exceptions.log" encoding="utf-8"
			archiveFileName="${logDir}\backup\exceptions.{##}.log"
			archiveAboveSize="10485760"
			archiveNumbering="Sequence"
			maxArchiveFiles="10">
			<layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
				<column name="Time" layout="${longdate}" />
				<column name="Level" layout="${level}" />
				<column name="Logger" layout="${logger}" />
				<column name="CorrelationId" layout="${event-context:item=CorrelationId}" />
				<column name="ResponseStatusCode" layout="${event-context:item=ResponseStatusCode}" />
				<column name="HttpMethod" layout="${event-context:item=HttpMethod}" />
				<column name="Url" layout="${event-context:item=Url}" />
				<column name="UserID" layout="${event-context:item=UserID}" />
				<column name="ClientIP" layout="${event-context:item=ClientIP}" />
				<column name="Message" layout="${message}" />
				<column name="Headers" layout="${event-context:item=Headers}" />
				<column name="Exception" layout="${exception:format=ToString}" />
			</layout>
		</target>

	</targets>
</nlog>