<?xml version="1.0" encoding="utf-8"?>

<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true">

	<variable name="logDir" value="${basedir}\..\..\logs" />

	<targets async="true">

		<target name="InfoFileBuffer" xsi:type="BufferingWrapper" bufferSize="10000" flushTimeout="1000" slidingTimeout="False" >
			<target name="InfoFile" xsi:type="File" fileName="${logDir}\info.log" encoding="utf-8"
					archiveFileName="${logDir}\backup\info.{##}.log"
					archiveAboveSize="52428800"
					archiveNumbering="Sequence"
					archiveEvery="Hour"
					maxArchiveFiles="100">
				<layout xsi:type="CsvLayout" delimiter="Tab">
					<column name="Time" layout="${longdate}" />
					<column name="Thread" layout="${threadid}" />
					<column name="Level" layout="${level}" />
					<column name="Logger" layout="${logger}" />
					<column name="Message" layout="${message}" />
					<column name="Exception" layout="${exception:format=ToString}" />
				</layout>
			</target>
		</target>

		<target name="ErrorFileBuffer" xsi:type="BufferingWrapper" bufferSize="10000" flushTimeout="1000" slidingTimeout="False" >
			<target name="ErrorFile" type="File" fileName="${logDir}\error.log" encoding="utf-8"
					archiveFileName="${logDir}\warn\error.{##}.log"
					archiveAboveSize="52428800"
					archiveNumbering="Sequence">
				<layout xsi:type="CsvLayout" delimiter="Tab">
					<column name="Time" layout="${longdate}" />
					<column name="Thread" layout="${threadid}" />
					<column name="Level" layout="${level}" />
					<column name="Logger" layout="${logger}" />
					<column name="Message" layout="${message}" />
					<column name="Exception" layout="${exception:format=ToString}" />
				</layout>
			</target>
		</target>
	</targets>
	
	<rules>
		<logger name="*" writeTo="ErrorFileBuffer" minlevel="Warn" />
		<logger name="*" writeTo="InfoFileBuffer" minlevel="Info" />
	</rules>

</nlog>