html {
	overflow-y: scroll;
	overflow-x: hidden;
	overflow: -moz-scrollbars-vertical;
}

img {
	max-width: 100%;
}

h2 {
	padding-bottom: 0.3em;
	font-size: 1.5em;
	border-bottom: 1pt solid #eaecef;
	margin-bottom: 12pt;
	margin-top: 12pt;
	font-weight: 600;
	line-height: 1.25;
}

code {
	background-color: #f0f2f4;
	border-radius: 3pt;
	box-sizing: border-box;
	padding: 0.75pt 4pt;
}

pre {
	padding: 12pt;
	overflow: auto;
	font-size: 85%;
	line-height: 1.2;
	background-color: #f0f2f4;
	border-radius: 3pt;
}

pre code {
	display: inline;
	max-width: auto;
	padding: 0;
	margin: 0;
	overflow: visible;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}

body {
	margin: 0;
	padding: 4pt;
}

body div {
	font-family: "Segoe UI";
	font-size: 12pt;
	line-height: 1.4;
	margin: auto;
	max-width: 800pt;
}

div.navigation {
	float: right;
	max-width: 220pt;
	font-size: 14px;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.06);
}

div.content {
	max-width: 560pt;
	padding-right: 235pt;
}

div.page-title {
	border-radius: 6pt;
	background-color: rgba(210, 210, 220, 0.5);
}

div.page-title h1 {
	padding: 4pt;
	font-size: 24pt;
	font-weight: normal;
	margin: 0;
}

div.page-content {
	padding-left: 4pt;
	margin: 0;
}



div.navigation ul {
	list-style-type: none;
	margin: 3pt;
	padding: 2pt;
}

div.navigation ul li a {
	text-decoration: none;
	display:inline-block;
	width: 100%;
	padding: 3pt 6pt;
}

div.navigation ul.internal li a {
	font-weight: 500;
	color: rgb(3, 102, 214);
}

div.navigation ul.external li a {
	font-weight: 400;
	padding-left: 12pt;
	color: rgb(3, 80, 170);
}

div.navigation ul li {
	border-radius: 3pt;
}

div.navigation ul.internal li.selected {
	background-color: rgba(210, 210, 220, 0.5);
}

div.navigation ul.internal li:hover:not(.selected), div.navigation ul.external li:hover {
	background-color: rgba(230, 230, 240, 0.5);
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}

table, table td, table th {
	border: 1px solid #e0e1e2;
	border-collapse: collapse;
	font-weight: normal;
}

table td, table th {
	padding: 5pt 10pt;
}

table th:nth-child(1) {
	width:30%
}

table th:nth-child(2) {
	width:40%
}

table th:nth-child(3) {
	width:50%
}