<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ExtConfigure" type="NConfiguration.PlainXmlSection, NConfiguration"/>
	</configSections>
	
	<ExtConfigure>
		<IncludeFile Path="etc\Mtgdb.Test.xml" Search="All" Include="All" Required="true"/>
	</ExtConfigure>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	
</configuration>
